:root {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

main {
    display: grid;
    min-height: 100vh;
    max-width: 100vw;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
}

section {
    grid-column: 1 / span 2;
}

canvas {
    width: min(480px, 90vw);
    margin-inline: auto;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

form, .transaction {
    gap: 0.5rem;
}

form {
    display: flex;
}

footer {
    margin-top: 1rem;
}

.transaction {
    display: flex;
    height: 2rem;
    justify-content: space-between;
    align-items: center;
}

.spacer {
    flex: 1;
}

@media screen and (max-width: 640px) {
    main {
        display: flex;
        flex-direction: column;
    }
}
